/*
    #7cbec0
	#408285
	#014042
    #a9c7c9
*/

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Tajawal', sans-serif;
}


body{
    background: url(assets/bg3.png);
    background-position: bottom;
    background-size: 100vw;
    background-repeat: no-repeat;
}

h1{
    text-align:center;
    padding-top:20px;
    text-decoration:underline;
    text-transform: uppercase;
    letter-spacing: 4px;

}

#mobileNav{
    display:none;
}


/*Navigation*/
header{
    height:100px;
    background-color:#7cbec0;
    display:flex;
}

header img{
    width:80px;
    height:80px;
    
    margin:10px 20px;
}


nav{
    position:absolute;
    right:15px;
    margin-top: 35px;
}


nav li{
    display:inline-block;
    padding: 0px 20px;
    font-size: 24px;

}

nav a{
    text-decoration: none;
    color: #fff;
}

nav a:hover{
   text-decoration: underline;
   text-decoration-style: wavy;
}


/*Footer*/
footer{
    height:125px;
    width:100%;
    margin-top: calc(100vh - 450px);
    background-color:#7cbec0;
    text-align: center;
}

footer a{
    text-decoration: none;
    color:#fff;
}

footer a:hover{
    background-color: rgba(255,255,255,.25);
}

#social{
    display:flex;
}

#social a{
    display:inline-block;
    padding:10px;
    width:50%;
    border:2px solid #fff;
}

#footNav{
    margin-top:20px;
}

#footNav a{
    display:inline-block;
    margin: 0px 20px;
    padding:0 25px;
    border: 1px solid #fff;
    font-size:20px;
}



/*Home Page*/
#mainGraphic{
    width:100%;
    height:750px;
    margin: 0 auto;
}

#mainGraphic img{
    width:100%;
    height:100%;
}

#pagesLinks{
    display:flex;
    width: 100%;
    margin-top:75px;
}

.page{
    width:300px;
    height:200px;
    display:inline-block;
    text-align: center;
    margin: 0 auto;
}

.page a{
    display:inline-block;
    text-decoration: none;
    color:#fff;
    max-height: 100%;
    
}

.page a img{
    width:75%;
    height:75%;
}

.page a img:hover{
    width:100%;
    height:100%;
}

.filler{
    height:150px;
}




/*Causes Page*/
#causes{
    text-align:center;
}
#causes p{
    text-align:left;
    margin:20px 80px;
}

#causes img{
    margin:30px;
    max-width:100%;
    max-height:100%;
}


/*Effects Page*/
#effectsMain{
    margin-bottom:50px;
}

.effectRowA{
    display:flex;
    margin:20px 100px;
}

.effectRowB{
    display:flex;
    margin:20px 100px;
}

.effectImg{
   width:45%;
   margin: 5px 20px;
}

.effectImg img{
    max-width:100%;
    max-height:100%;
}

.effectInfo{
    width:60%;
    margin: 0px 10px;
}



/*Solutions Page*/
#solutionsMain{
    text-align:center;
}

.solutionsRowA{
    display:flex;
    align-items:flex-start;
    justify-content: center;
    margin:20px 0px 100px 0px;
    padding-bottom:20px;
}

.solutionsRowB{
    display:flex;
    align-items:flex-start;
    justify-content: center;
    margin:20px 0px 100px 0px;
    padding-bottom:20px;
}

.sGrid{
    width:50%;
    padding:0px 50px;
}

.sGrid Img{
    max-width:100%;
    max-height:100%;
    border-radius:20px;
}

.sImg{
    width:30%;
}

.sImg img{
    max-width:100%;
    max-height:100%;
}


.s{
    border:1px solid #000;
    padding:40px 20px;
    align-items: center;
}

.s h3{
    margin-top:25px;
}


/*About Page*/
#about{margin-bottom:650px;}

#aboutText{
    margin:20px 80px;
    font-size:18px;
    background-image: linear-gradient(#fff,#7cbec0);
    padding:40px;
    border-radius:20px;
}


#aboutImg{
    text-align:center;
    margin:30px;
}

#aboutImg img{
    height:300px;
    width:300px;
}




/*Mobile*/
@media (max-width:400px){
    body{
    background: url(assets/bg3.png);
    background-position: calc(100vh - 1150px);
    background-size: cover;
    }
    
    /*Nav*/
    header img{ margin:10px auto;}
    header a{ margin:0 auto;}
    
    nav{
        display:none;
        width: calc(100vw); 
        text-align:center;
        background-color:#7cbec0;
        position: absolute;
        right:0px;
        top: 10px;
    }
    
    nav li{
        display:block;
        border: 1px solid #fff;
    }
    
    #mobileNav{
        display:inline-block;
        position:absolute;
        top: 5px;
        left:10px;
        width:40px;
        height:30px;
    }
    
    #mobileNav img{ 
        max-width:100%;
        max-height:100%;
    }
    
    
    /*footer*/
    footer{
        height:200px;
        margin-top:40px;
    }
    
    #footNav a{
        display:block;
        font-size:15px;
    }
    
    
    /*Home*/
    #mainGraphic{
        height:275px;
    }
    
    #pagesLinks{
        flex-direction: column;
        margin-top:40px;
    }
    
    .page{
        margin-bottom:20px;
        height:350px;
        width:300px;
    }
    
    .page a{
        max-height:100%;
        max-width:100%;
    }
    
    .page a img{
        max-height:100%;
        max-width:100%;
    }
    
    .filler{height:0px;}
    
    
    /*Causes Page*/
    #causes{
        margin-bottom:50px;
    }
    #causes p{
        padding:20px;
        margin:20px 50px ;
        background-color:rgba(255,255,255,.75);
        border-radius:20px;
    }
    
    
    /*Effects Page*/
    .effectRowA{
        flex-direction: column-reverse;
        margin:25px;
    }
    
    .effectRowB{
        flex-direction: column;
        margin:25px;
    }
    
    .effectInfo{
        width:100%;
        background-color:rgba(255,255,255,.75);
        border-radius:20px;
        padding:25px;
    }
    
    .effectInfo h2{
        text-align:center;
        padding-bottom:10px;
    }
    
    .effectImg{
        width:80%;
        height:175px;
        margin:20px auto;
    }
    
    .effectImg img{
        min-height:100%;
        min-width:100%;
    }
    
    
    /*Solutions Page*/
    .sGrid{
        width:100%;
        padding:0px 15px;
    }
    
    .sImg{
        margin:0px 20px;
        padding-bottom: 10px;
    }
    
    .solutionsRowA{
        flex-direction:column-reverse;
        margin:0px 10px;
        padding-top:20px;
    }
    
    .solutionsRowB{
        flex-direction: column;
        margin:0px 10px;
        padding-top:20px;
    }
    
    
    /*About Page*/
    #aboutText{
        padding:20px;
        margin:20px;
        background-color:rgba(255,255,255,.75);
        border-radius:20px;
        background-image:none;
    }
    
    #about{
        margin-bottom:0px;
    }
}






